<?xml version="1.0"?>
<launch>

  <!-- Arguments 
  <arg name="map_file" default="$(find navigation_pkg)/maps/map.yaml"/> 
  -->

  <!-- Map server 
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
-->
  <!-- AMCL -->
  <include file="$(find navigation_pkg)/launch/amcl.launch"/>
  
  <!-- move_base -->
  <include file="$(find navigation_pkg)/launch/move_base.launch"/>

 
</launch>